@use "sass:color"
@use "../../tokens/components/button/index"
@use "../../tokens/components/comp-elevation" as elevation

.nd-button
  position: relative
  box-sizing: border-box
  display: flex
  column-gap: var(--nd-comp-button-between-icon-label-space)
  align-items: center
  height: var(--nd-comp-button-container-height)
  min-width: fit-content
  border: none
  padding-inline-start: var(--nd-comp-button-leading-space)
  padding-inline-end: var(--nd-comp-button-trailing-space)
  box-shadow: var(--nd-comp-button-elevation)
  color: rgb(var(--nd-comp-button-label-color))
  font-family: var(--nd-comp-button-label-font), sans-serif
  font-weight: var(--nd-comp-button-label-weight)
  font-size: var(--nd-comp-button-label-size)
  line-height: var(--nd-comp-button-line-height)
  letter-spacing: var(--nd-comp-button-label-space)
  border-radius: var(--nd-comp-button-shape-round)
  background: rgb(var(--nd-comp-button-container-color))

  &::before
    content: ''
    border-radius: inherit
    position: absolute
    inset: 0
    background: transparent
    z-index: 0
    pointer-events: none

  .nd-button__icon
    display: flex
    justify-content: center
    align-items: center
    color: rgb(var(--nd-comp-button-icon-color))
    font-size: var(--nd-comp-button-icon-size)
    inline-size: var(--nd-comp-button-icon-size)
    block-size: var(--nd-comp-button-icon-size)

    *
      inline-size: inherit
      block-size: inherit

  &.nd-button--extra-small
    height: var(--nd-comp-button-extra-small-container-height)
    padding-inline-start: var(--nd-comp-button-extra-small-leading-space)
    padding-inline-end: var(--nd-comp-button-extra-small-leading-space)
    column-gap: var(--nd-comp-button-extra-small-between-icon-label-space)

  &.nd-button--medium
    height: var(--nd-comp-button-medium-container-height)
    padding-inline-start: var(--nd-comp-button-medium-leading-space)
    padding-inline-end: var(--nd-comp-button-medium-trailing-space)
    column-gap: var(--nd-comp-button-medium-between-icon-label-space)
    font-size: var(--nd-comp-button-medium-label-size)
    line-height: var(--nd-comp-button-medium-line-height)

    .nd-button__icon
      font-size: var(--nd-comp-button-medium-icon-size)
      inline-size: var(--nd-comp-button-medium-icon-size)
      block-size: var(--nd-comp-button-medium-icon-size)

  &.nd-button--large
    height: var(--nd-comp-button-large-container-height)
    padding-inline-start: var(--nd-comp-button-large-leading-space)
    padding-inline-end: var(--nd-comp-button-large-trailing-space)
    column-gap: var(--nd-comp-button-large-between-icon-label-space)
    font-size: var(--nd-comp-button-large-label-size)
    line-height: var(--nd-comp-button-large-line-height)

    .nd-button__icon
      font-size: var(--nd-comp-button-large-icon-size)
      inline-size: var(--nd-comp-button-large-icon-size)
      block-size: var(--nd-comp-button-large-icon-size)

  &.nd-button--extra-large
    height: var(--nd-comp-button-extra-large-container-height)
    padding-inline-start: var(--nd-comp-button-extra-large-leading-space)
    padding-inline-end: var(--nd-comp-button-extra-large-trailing-space)
    column-gap: var(--nd-comp-button-extra-large-between-icon-label-space)
    font-size: var(--nd-comp-button-extra-large-label-size)
    line-height: var(--nd-comp-button-extra-large-line-height)

    .nd-button__icon
      font-size: var(--nd-comp-button-extra-large-icon-size)
      inline-size: var(--nd-comp-button-extra-large-icon-size)
      block-size: var(--nd-comp-button-extra-large-icon-size)

  &:hover
    color: rgb(var(--nd-comp-button-hovered-label-color))
    @include elevation.elevation(var(--nd-comp-button-hovered-container-elevation), var(--nd-comp-button-shadow-color))

    &::before
      background: rgba(var(--nd-comp-button-hovered-container-state-layer-color), var(--nd-comp-button-hovered-container-state-layer-opacity))

  &:focus-visible
    color: rgb(var(--nd-comp-button-focused-label-color))
    outline: solid rgb(var(--nd-comp-button-focus-ring-indicator-color)) var(--nd-comp-button-focus-ring-indicator-thickness)
    outline-offset: var(--nd-comp-button-focus-ring-outline-offset)
    @include elevation.elevation(var(--nd-comp-button-focused-container-state-elevation), var(--nd-comp-button-shadow-color))

    &::before
      background: rgba(var(--nd-comp-button-focused-container-state-layer-color), var(--nd-comp-button-focused-container-state-layer-opacity))

    .nd-button__icon
      color: rgb(var(--nd-comp-button-focused-icon-color))

  &:active
    color: rgb(var(--nd-comp-button-pressed-label-color))
    @include elevation.elevation(var(--nd-comp-button-pressed-container-state-elevation), var(--nd-comp-button-shadow-color))

    &::before
      background: rgba(var(--nd-comp-button-pressed-container-state-layer-color), var(--nd-comp-button-pressed-container-state-layer-opacity))

    .nd-button__icon
      color: rgb(var(--nd-comp-button-pressed-icon-color))


  &.nd-button--disabled
    box-shadow: var(--nd-comp-button-disabled-container-elevation) !important
    color: rgba(var(--nd-comp-button-disabled-label-color), var(--nd-comp-button-disabled-label-opacity)) !important
    cursor: not-allowed
    background: rgba(var(--nd-comp-button-disabled-container-color), var(--nd-comp-button-disabled-container-opacity)) !important

    &::before
      background: transparent !important

    .nd-button__icon
      color: rgba(var(--nd-comp-button-disabled-icon-color), var(--nd-comp-button-disabled-icon-opacity)) !important

  &.nd-button--toggle
    border-radius: var(--nd-comp-button-shape-square)

  &.nd-button--toggle-unselected
    background: rgb(var(--nd-comp-button-container-color-toggle-unselected))
    color: rgb(var(--nd-comp-button-label-color-toggle-unselected))

    .nd-button__icon
      color: rgb(var(--nd-comp-button-icon-color-toggle-unselected))

  &.nd-button--toggle-selected
    background: rgb(var(--nd-comp-button-container-color-toggle-selected))
    color: rgb(var(--nd-comp-button-label-color-toggle-selected))

    .nd-button__icon
      color: rgb(var(--nd-comp-button-icon-color-toggle-selected))

