@use "sass:color"
@use "../../tokens/components/button/index"
@use "../../tokens/components/comp-elevation" as elevation
@use "./parts/button-state"
@use "./parts/button-size"
@use "./parts/button-toggle-unselected"
@use "./parts/button-toggle-selected"

.nd-button
  position: relative
  box-sizing: border-box
  display: flex
  column-gap: var(--nd-comp-button-between-icon-label-space)
  align-items: center
  height: var(--nd-comp-button-container-height)
  min-width: fit-content
  border: none
  padding-inline-start: var(--nd-comp-button-leading-space)
  padding-inline-end: var(--nd-comp-button-trailing-space)
  box-shadow: var(--nd-comp-button-elevation)
  color: rgb(var(--nd-comp-button-label-color))
  font-family: var(--nd-comp-button-label-font), sans-serif
  font-weight: var(--nd-comp-button-label-weight)
  font-size: var(--nd-comp-button-label-size)
  line-height: var(--nd-comp-button-line-height)
  letter-spacing: var(--nd-comp-button-label-space)
  border-radius: var(--nd-comp-button-shape-round)
  background: rgb(var(--nd-comp-button-container-color))

  &::before
    content: ''
    border-radius: inherit
    position: absolute
    inset: 0
    background: transparent
    z-index: 0
    pointer-events: none

  .nd-button__icon
    display: flex
    justify-content: center
    align-items: center
    color: rgb(var(--nd-comp-button-icon-color))
    font-size: var(--nd-comp-button-icon-size)
    inline-size: var(--nd-comp-button-icon-size)
    block-size: var(--nd-comp-button-icon-size)

    *
      inline-size: inherit
      block-size: inherit

  @include button-state.button-state
  @include button-size.button-size
  @include button-toggle-selected.button-toggle-selected
  @include button-toggle-unselected.button-toggle-unselected

