
.nd-state-container {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    inset: -10%;
    border-radius: inherit;
    background-color: currentColor;
    opacity: 0;
  }

  &:hover::before {
    opacity: var(--md-sys-hover-state-layer-opacity);
  }

  &:active::before {
    opacity: var(--md-sys-pressed-state-layer-opacity);
  }

  &:focus-visible::before {
    opacity: var(--md-sys-focus-state-layer-opacity);
  }

  &.nd-state-container--dragging::before {
    opacity: var(--md-sys-dragged-state-layer-opacity);
  }
}
