@mixin button-toggle-selected
  &.nd-button--toggle-selected
    border-radius: var(--nd-comp-button-shape-square)
    background: rgb(var(--nd-comp-button-container-color-toggle-selected))
    color: rgb(var(--nd-comp-button-label-color-toggle-selected))

    .nd-button__icon
      color: rgb(var(--nd-comp-button-icon-color-toggle-selected))

    &:hover
      color: rgb(var(--nd-comp-button-hovered-label-color-toggle-selected))

      .nd-button__icon
        color: rgb(var(--nd-comp-button-hovered-icon-color-toggle-selected))

      &::before
        background: rgba(var(--nd-comp-button-hovered-container-state-layer-color-toggle-selected), var(--nd-comp-button-hovered-container-state-layer-opacity))

    &:focus-visible
      color: rgb(var(--nd-comp-button-focused-label-color-toggle-selected))

      &::before
        background: rgba(var(--nd-comp-button-focused-container-state-layer-color-toggle-selected), var(--nd-comp-button-hovered-container-state-layer-opacity))

      .nd-button__icon
        color: rgb(var(--nd-comp-button-focused-icon-color-toggle-selected))

    &:active
      color: rgb(var(--nd-comp-button-pressed-label-color-toggle-selected))

      &::before
        background: rgba(var(--nd-comp-button-pressed-container-state-layer-color-toggle-selected), var(--nd-comp-button-hovered-container-state-layer-opacity))

      .nd-button__icon
        color: rgb(var(--nd-comp-button-pressed-icon-color-toggle-selected))
