@use "../../../tokens/components/button/index"

@mixin button-size
  @include index.button-size-small
  height: var(--nd-comp-button-size-container-height)
  outline-width: var(--nd-comp-button-size-outline-width)
  font-size: var(--nd-comp-button-size-label-size)
  font-weight: var(--nd-comp-button-size-label-weight)
  line-height: var(--nd-comp-button-size-line-height)
  padding-inline-start: var(--nd-comp-button-size-leading-space)
  column-gap: var(--nd-comp-button-size-between-icon-label-space)
  padding-inline-end: var(--nd-comp-button-size-trailing-space)

  .nd-button__icon
    font-size: var(--nd-comp-button-size-icon-size)
    inline-size: var(--nd-comp-button-size-icon-size)
    block-size: var(--nd-comp-button-size-icon-size)

  &.nd-button--extra-small
    @include index.button-size-extra-small

  &.nd-button--medium
    @include index.button-size-medium

  &.nd-button--large
    @include index.button-size-large

  &.nd-button--extra-large
    @include index.button-size-extra-large