@use "../../../tokens/components/comp-elevation" as elevation

@mixin button-state
  &:hover
    color: rgb(var(--nd-comp-button-hovered-label-color))
    @include elevation.elevation(var(--nd-comp-button-hovered-container-elevation), var(--nd-comp-button-shadow-color))

    &::before
      background: rgba(var(--nd-comp-button-hovered-container-state-layer-color), var(--nd-comp-button-hovered-container-state-layer-opacity))

  &:focus-visible
    color: rgb(var(--nd-comp-button-focused-label-color))
    outline: solid rgb(var(--nd-comp-button-focus-ring-indicator-color)) var(--nd-comp-button-focus-ring-indicator-thickness)
    outline-offset: var(--nd-comp-button-focus-ring-outline-offset)
    @include elevation.elevation(var(--nd-comp-button-focused-container-state-elevation), var(--nd-comp-button-shadow-color))

    &::before
      background: rgba(var(--nd-comp-button-focused-container-state-layer-color), var(--nd-comp-button-focused-container-state-layer-opacity))

    .nd-button__icon
      color: rgb(var(--nd-comp-button-focused-icon-color))

  &:active
    color: rgb(var(--nd-comp-button-pressed-label-color))
    @include elevation.elevation(var(--nd-comp-button-pressed-container-state-elevation), var(--nd-comp-button-shadow-color))

    &::before
      background: rgba(var(--nd-comp-button-pressed-container-state-layer-color), var(--nd-comp-button-pressed-container-state-layer-opacity))

    .nd-button__icon
      color: rgb(var(--nd-comp-button-pressed-icon-color))


  &.nd-button--disabled
    box-shadow: var(--nd-comp-button-disabled-container-elevation) !important
    color: rgba(var(--nd-comp-button-disabled-label-color), var(--nd-comp-button-disabled-label-opacity)) !important
    cursor: not-allowed
    background: rgba(var(--nd-comp-button-disabled-container-color), var(--nd-comp-button-disabled-container-opacity)) !important

    &::before
      background: transparent !important

    .nd-button__icon
      color: rgba(var(--nd-comp-button-disabled-icon-color), var(--nd-comp-button-disabled-icon-opacity)) !important