$md-sys-colors-light: (
  background: (254, 247, 255),
  on-background: (29, 27, 32),
  error: (179, 38, 30),
  on-error: (255, 255, 255),
  error-container: (249, 222, 220),
  on-error-container: (140, 29, 24),
  inverse-primary: (208, 188, 255),
  inverse-surface: (50, 47, 53),
  inverse-on-surface: (245, 239, 247),
  outline: (121, 116, 126),
  outline-variant: (202, 196, 208),
  primary: (101, 85, 143),
  on-primary: (255, 255, 255),
  primary-container: (234, 221, 255),
  on-primary-container: (79, 55, 139),
  primary-fixed: (234, 221, 255),
  on-primary-fixed: (33, 0, 93),
  primary-fixed-dim: (208, 188, 255),
  on-primary-fixed-variant: (79, 55, 139),
  secondary: (98, 91, 113),
  on-secondary: (255, 255, 255),
  secondary-container: (232, 222, 248),
  on-secondary-container: (74, 68, 88),
  secondary-fixed: (232, 222, 248),
  on-secondary-fixed: (29, 25, 43),
  secondary-fixed-dim: (204, 194, 220),
  on-secondary-fixed-variant: (74, 68, 88),
  scrim: (0, 0, 0),
  shadow: (0, 0, 0),
  surface: (254, 247, 255),
  on-surface: (29, 27, 32),
  surface-bright: (254, 247, 255),
  surface-container-lowest: (255, 255, 255),
  surface-container-low: (247, 242, 250),
  surface-container: (243, 237, 247),
  surface-container-high: (236, 230, 240),
  surface-container-highest: (230, 224, 233),
  surface-dim: (222, 216, 225),
  surface-tint: (103, 80, 164),
  surface-variant: (231, 224, 236),
  on-surface-variant: (73, 69, 79),
  tertiary: (125, 82, 96),
  on-tertiary: (255, 255, 255),
  tertiary-container: (255, 216, 228),
  on-tertiary-container: (99, 59, 72),
  tertiary-fixed: (255, 216, 228),
  on-tertiary-fixed: (49, 17, 29),
  tertiary-fixed-dim: (239, 184, 200),
  on-tertiary-fixed-variant: (99, 59, 72)
);

$md-sys-colors-dark: (
  background: (20, 18, 24),
  on-background: (230, 224, 233),
  error: (242, 184, 181),
  on-error: (96, 20, 16),
  error-container: (140, 29, 24),
  on-error-container: (249, 222, 220),
  inverse-primary: (103, 80, 164),
  inverse-surface: (230, 224, 233),
  inverse-on-surface: (50, 47, 53),
  outline: (147, 143, 153),
  outline-variant: (73, 69, 79),
  primary: (208, 188, 254),
  on-primary: (56, 30, 114),
  primary-container: (79, 55, 139),
  on-primary-container: (234, 221, 255),
  primary-fixed: (234, 221, 255),
  on-primary-fixed: (33, 0, 93),
  primary-fixed-dim: (208, 188, 255),
  on-primary-fixed-variant: (79, 55, 139),
  secondary: (204, 194, 220),
  on-secondary: (51, 45, 65),
  secondary-container: (74, 68, 88),
  on-secondary-container: (232, 222, 248),
  secondary-fixed: (232, 222, 248),
  on-secondary-fixed: (29, 25, 43),
  secondary-fixed-dim: (204, 194, 220),
  on-secondary-fixed-variant: (74, 68, 88),
  scrim: (0, 0, 0),
  shadow: (0, 0, 0),
  surface: (20, 18, 24),
  on-surface: (230, 224, 233),
  surface-bright: (59, 56, 62),
  surface-container-lowest: (15, 13, 19),
  surface-container-low: (29, 27, 32),
  surface-container: (33, 31, 38),
  surface-container-high: (43, 41, 48),
  surface-container-highest: (54, 52, 59),
  surface-dim: (20, 18, 24),
  surface-tint: (208, 188, 255),
  surface-variant: (73, 69, 79),
  on-surface-variant: (202, 196, 208),
  tertiary: (239, 184, 200),
  on-tertiary: (73, 37, 50),
  tertiary-container: (99, 59, 72),
  on-tertiary-container: (255, 216, 228),
  tertiary-fixed: (255, 216, 228),
  on-tertiary-fixed: (49, 17, 29),
  tertiary-fixed-dim: (239, 184, 200),
  on-tertiary-fixed-variant: (99, 59, 72)
)
