// Duration Variables
$duration: (
        duration-extra-long1: 700ms,
        duration-extra-long2: 800ms,
        duration-extra-long3: 900ms,
        duration-extra-long4: 1000ms,
        duration-long1: 450ms,
        duration-long2: 500ms, // default spatial
        duration-long3: 550ms,
        duration-long4: 600ms, // slow spatial (should be 650ms)
        duration-medium1: 250ms,
        duration-medium2: 300ms, // slow effects
        duration-medium3: 350ms, // fast spatial
        duration-medium4: 400ms,
        duration-short1: 50ms,
        duration-short2: 100ms,
        duration-short3: 150ms, // fast effects
        duration-short4: 200ms, // default effects
);

// Easing Variables
$easing: (
        easing-linear: cubic-bezier(0, 0, 1, 1),
        easing-emphasized: cubic-bezier(0.2, 0, 0, 1),
        easing-emphasized-accelerate: cubic-bezier(0.3, 0, 0.8, 0.15),
        easing-emphasized-decelerate: cubic-bezier(0.05, 0.7, 0.1, 1),
        easing-legacy: cubic-bezier(0.4, 0, 0.2, 1),
        easing-legacy-accelerate: cubic-bezier(0.4, 0, 1, 1),
        easing-legacy-decelerate: cubic-bezier(0, 0, 0.2, 1),
        easing-standard: cubic-bezier(0.2, 0, 0, 1),
        easing-standard-accelerate: cubic-bezier(0.3, 0, 1, 1),
        easing-standard-decelerate: cubic-bezier(0, 0, 0, 1)
);

$physics-motion:(
        expressive-fast-spatial: (cubic-bezier(0.42, 1.67, 0.21, 0.90), 350ms),
        expressive-default-spatial: (cubic-bezier(0.38, 1.21, 0.22, 1.00), 500ms),
        expressive-slow-spatial: (cubic-bezier(0.39, 1.29, 0.35, 0.98), 650ms),
        expressive-fast-effects: (cubic-bezier(0.31, 0.94, 0.34, 1.00), 150ms),
        expressive-default-effects: (cubic-bezier(0.34, 0.80, 0.34, 1.00), 200ms),
        expressive-slow-effects: (cubic-bezier(0.34, 0.88, 0.34, 1.00), 300ms),
        standard-fast-spatial: (cubic-bezier(0.27, 1.06, 0.18, 1.00), 350ms),
        standard-default-spatial: (cubic-bezier(0.27, 1.06, 0.18, 1.00), 500ms),
        standard-slow-spatial: (cubic-bezier(0.27, 1.06, 0.18, 1.00), 750ms),
        standard-fast-effects: (cubic-bezier(0.31, 0.94, 0.34, 1.00), 150ms),
        standard-default-effects: (cubic-bezier(0.34, 0.80, 0.34, 1.00), 200ms),
        standard-slow-effects: (cubic-bezier(0.34, 0.88, 0.34, 1.00), 300ms),
)