@mixin state() {
  // State Layer Opacity Variables
  --md-sys-hover-state-layer-opacity: 0.08;
  --md-sys-focus-state-layer-opacity: 0.10;
  --md-sys-pressed-state-layer-opacity: 0.10;
  --md-sys-dragged-state-layer-opacity: 0.16;
}
