$tokens: (
        container-color: (false, sys-color-surface-container-low),
        container-color-toggle-unselected: (false, sys-color-surface-container-low),
        container-color-toggle-selected: (false, primary),
        shadow-color: (false, sys-color-shadow),
        elevation: (false, sys-elevation-1),
        label-color: (false, sys-color-primary),
        label-color-toggle-unselected: (false, sys-color-primary),
        label-color-toggle-selected: (false, sys-color-on-primary),
        icon-color: (false, sys-color-primary),
        icon-color-toggle-unselected: (false, sys-color-primary),
        icon-color-toggle-selected: (false, sys-color-on-primary),
        disabled-container-color: (false, sys-color-on-surface),
        disabled-container-opacity: (true, 0.1),
        disabled-container-elevation: (false, sys-elevation-0),
        disabled-label-color: (false, sys-color-on-surface),
        disabled-label-opacity: (true, 0.38),
        disabled-icon-color: (false, sys-color-on-surface),
        disabled-icon-opacity: (true, 0.38),
        hovered-container-state-layer-color: (false, sys-color-primary),
        hovered-container-state-layer-color-toggle-unselected: (false, sys-color-primary),
        hovered-container-state-layer-color-toggle-selected: (false, sys-color-on-primary),
        hovered-container-state-layer-opacity: (false, sys-state-hover-state-layer-opacity),
        hovered-container-elevation: (false, sys-elevation-2),
        hovered-label-color: (false, sys-color-primary),
        hovered-label-color-toggle-unselected: (false, primary),
        hovered-label-color-toggle-selected: (false, sys-color-on-primary),
        hovered-icon-color: (false, sys-color-primary),
        hovered-icon-color-toggle-unselected: (false, sys-color-primary),
        hovered-icon-color-toggle-selected: (false, sys-color-on-primary),
        focused-container-state-layer-color: (false, sys-color-primary),
        focused-container-state-layer-color-toggle-unselected: (false, sys-color-primary),
        focused-container-state-layer-color-toggle-selected: (false, sys-color-on-primary),
        focused-container-state-layer-opacity: (false, sys-state-focus-layer-opacity),
        focused-container-state-layer-elevation: (false, sys-elevation-1),
        focused-label-color: (false, sys-color-primary),
        focused-label-color-toggle-unselected: (false, sys-color-primary),
        focused-label-color-toggle-selected: (false, sys-color-on-primary),
        focused-icon-color: (false, sys-color-primary),
        focused-icon-color-toggle-unselected: (false, sys-color-primary),
        focused-icon-color-toggle-selected: (false, sys-color-on-primary),
        pressed-container-state-layer-color: (false, sys-color-primary),
        pressed-container-state-layer-color-toggle-unselected: (false, sys-color-primary),
        pressed-container-state-layer-color-toggle-selected: (false, sys-color-on-primary),
        pressed-container-state-layer-opacity: (false, sys-state-pressed-state-layer-opacity),
        pressed-container-state-layer-elevation: (false, sys-elevation-1),
        pressed-label-color: (false, sys-color-primary),
        pressed-label-color-toggle-unselected: (false, sys-color-primary),
        pressed-label-color-toggle-selected: (false, sys-color-on-primary),
        pressed-icon-color: (false, sys-color-primary),
        pressed-icon-color-toggle-unselected: (false, sys-color-primary),
        pressed-icon-color-toggle-selected: (false, sys-color-on-primary)
)