$extra-small-tokens: (
        container-height: (true, 32px),
        outline-width: (true, 1px),
        label-size: (true, 14px),
        label-weight: (false, ref-typography-label-large-weight),
        label-line-height: (true, 20px),
        icon-size: (true, 20px),
        shape-round: (false, sys-shape-corner-full),
        shape-square: (false, sys-shape-corner-medium),
        leading-space: (true, 12px),
        between-icon-label-space: (true, 8px),
        trailing-space: (true, 12px),
        shape-pressed-morph: (false, sys-shape-corner-small),
        shape-spring-animation-damping: (false, sys-motion-spring-fast-spatial-damping),
        shape-spring-animation-stiffness: (false, sys-motion-spring-fast-spatial-stiffness),
        selected-container-shape-round: (false, sys-shape-corner-medium),
        selected-container-shape-square: (false, sys-shape-corner-full),
);

$small-tokens: (
        container-height:(true, 40px),
        outline-width: (true, 1px),
        label-size: (true, 14px),
        label-weight: (false, ref-typepography-label-medium-weight),
        label-line-height: (true, 20px),
        icon-size: (true, 20px),
        shape-round: (false, sys-shape-corner-full),
        shape-square: (false, sys-shape-corner-medium),
        leading-space: (true, 16px),
        between-icon-label-space: (true, 8px),
        trailing-space: (true, 16px),
        shape-pressed-morph: (false, sys-shape-corner-small),
        shape-spring-animation-damping: (false, sys-motion-spring-fast-spatial-damping),
        shape-spring-animation-stiffness: (false, sys-motion-spring-fast-spatial-stiffness),
        selected-container-shape-round: (false, sys-shape-corner-medium),
        selected-container-shape-square: (false, sys-shape-corner-full),
);

$medium-tokens: (
        container-height: (true, 56px),
        outline-width: (true, 1px),
        label-size: (true, 16px),
        label-weight: (false, ref-typography-label-medium-weight),
        label-line-height: (true, 24px),
        icon-size: (true, 24px),
        shape-round: (false, sys-shape-corner-full),
        shape-square: (false, sys-shape-corner-large),
        leading-space: (true, 24px),
        between-icon-label-space: (true, 8px),
        trailing-space: (true, 24px),
        shape-pressed-morph: (false, sys-shape-corner-medium),
        shape-spring-animation-damping: (false, sys-motion-spring-fast-spatial-damping),
        shape-spring-animation-stiffness: (false, sys-motion-spring-fast-spatial-stiffness),
        selected-container-shape-round: (false, sys-shape-corner-large),
        selected-container-shape-square: (false, sys-shape-corner-full),
  //medium-label-size: (true, 1.25rem),
  //medium-line-height: (true, 1.25rem),
  //medium-icon-size: (true, 24px),
);

$large-tokens: (
        container-height: (true, 96px),
        outline-width: (true, 2px),
        label-size: (true, 24px),
        label-weight: (true, 400), // md.ref.typeface.weight-regular
        label-line-height: (true, 32px),
        icon-size: (true, 32px),
        shape-round: (false, sys-shape-corner-full),
        shape-square: (false, sys-shape-corner-extra-large),
        leading-space: (true, 48px),
        between-icon-label-space: (true, 12px),
        trailing-space: (true, 48px),
        shape-pressed-morph: (false, sys-shape-corner-large),
        shape-spring-animation-damping: (false, sys-motion-spring-fast-spatial-damping),
        shape-spring-animation-stiffness: (false, sys-motion-spring-fast-spatial-stiffness),
        selected-container-shape-round: (false, sys-shape-corner-extra-large),
        selected-container-shape-square: (false, sys-shape-corner-full),
);

$extra-large-tokens: (
        container-height: (true, 136px),
        outline-width: (true, 3px),
        label-size: (true, 2.5rem),
        label-weight: (true, 400),
        label-line-height: (true, 2.5rem),
        icon-size: (true, 2.5rem),
        leading-space: (true, 64px),
        between-icon-label-space: (true, 16px),
        trailing-space: (true, 64px),
        shape-pressed-morph: (false, sys-shape-corner-large),
        shape-spring-animation-damping: (false, sys-motion-spring-fast-spatial-damping),
        shape-spring-animation-stiffness: (false, sys-motion-spring-fast-spatial-stiffness),
        selected-container-shape-round: (false, sys-shape-corner-extra-large),
        selected-container-shape-square: (false, sys-shape-corner-full),
  //extra-large-label-size: (true, 32px),
)