$tokens: (
        pressed-state-layer-color: (false, sys-color-primary),
        pressed-state-layer-opacity: (false, sys-state-pressed-state-layer-opacity),
        pressed-label-color: (false, sys-color-primary),
        pressed-icon-color: (false, sys-color-primary),
        hovered-state-layer-color: (false, sys-color-primary),
        hovered-state-layer-opacity: (false, sys-state-hover-state-layer-opacity),
        hovered-label-color: (false, sys-color-primary),
        hovered-icon-color: (false, sys-color-primary),
        disabled-container-color: (false, sys-color-on-surface),
        disabled-container-opacity: (true, 0.1),
        disabled-label-color: (false, sys-color-on-surface),
        disabled-label-opacity: (true, 0.38),
        disabled-icon-color: (false, sys-color-on-surface),
        disabled-icon-opacity: (true, 0.38),
        label-color: (false, sys-color-primary),
        icon-color: (false, sys-color-primary),
        focused-state-layer-color: (false, sys-color-primary),
        focused-state-layer-opacity: (false, sys-state-focus-state-layer-opacity),
        focused-label-color: (false, sys-color-primary),
        focused-icon-color: (false, sys-color-primary),
)