$tokens: (
        container-color: (false, sys-color-secondary-container),
        container-color-toggle-unselected: (false, sys-color-secondary-container),
        container-color-toggle-selected: (false, sys-color-secondary),
        shadow-color: (false, sys-color-shadow),
        elevation: (false, sys-elevation-level0),
        label-color: (false, sys-color-on-secondary-container),
        label-color-toggle-unselected: (false, sys-color-on-secondary-container),
        label-color-toggle-selected: (false, sys-color-on-secondary),
        icon-color: (false, sys-color-on-secondary-container),
        icon-color-toggle-unselected: (false, sys-color-on-secondary-container),
        icon-color-toggle-selected: (false, sys-color-on-secondary),
        disabled-container-color: (false, sys-color-on-surface),
        disabled-container-opacity: (true, 0.1),
        disabled-container-elevation: (false, sys-elevation-level0),
        disabled-label-color: (false, sys-color-on-surface),
        disabled-label-opacity: (true, 0.38),
        disabled-icon-color: (false, sys-color-on-surface),
        disabled-icon-opacity: (true, 0.38),
        hovered-container-state-layer-color: (false, sys-color-on-secondary-container),
        hovered-container-state-layer-color-toggle-unselected: (false, sys-color-on-secondary-container),
        hovered-container-state-layer-color-toggle-selected: (false, sys-color-on-secondary),
        hovered-container-state-layer-opacity: (false, sys-state-hover-state-layer-opacity),
        hovered-container-elevation: (false, sys-elevation-level1),
        hovered-label-color: (false, sys-color-on-secondary-container),
        hovered-label-color-toggle-unselected: (false, sys-color-on-secondary-container),
        hovered-label-color-toggle-selected: (false, sys-color-on-secondary),
        hovered-icon-color: (false, sys-color-on-secondary-container),
        hovered-icon-color-toggle-unselected: (false, sys-color-on-secondary-container),
        hovered-icon-color-toggle-selected: (false, sys-color-on-secondary),
        focused-container-state-layer-color: (false, sys-color-on-secondary-container),
        focused-container-state-layer-color-toggle-unselected: (false, sys-color-on-secondary-container),
        focused-container-state-layer-color-toggle-selected: (false, sys-color-on-secondary),
        focused-container-state-layer-opacity: (false, sys-state-focus-state-layer-opacity),
        focused-container-state-elevation: (false, sys-elevation-level0),
        focused-label-color: (false, sys-color-on-secondary-container),
        focused-label-color-toggle-unselected: (false, sys-color-on-secondary-container),
        focused-label-color-toggle-selected: (false, sys-color-on-secondary),
        focused-icon-color: (false, sys-color-on-secondary-container),
        focused-icon-color-toggle-unselected: (false, sys-color-on-secondary-container),
        focused-icon-color-toggle-selected: (false, sys-color-on-secondary),
        pressed-container-state-layer-color: (false, sys-color-on-secondary-container),
        pressed-container-state-layer-color-toggle-unselected: (false, sys-color-on-secondary-container),
        pressed-container-state-layer-color-toggle-selected: (false, sys-color-on-secondary),
        pressed-container-state-layer-opacity: (false, sys-state-pressed-state-layer-opacity),
        pressed-container-state-elevation: (false, sys-elevation-level0),
        pressed-label-color: (false, sys-color-on-secondary-container),
        pressed-label-color-toggle-unselected: (false, sys-color-on-secondary-container),
        pressed-label-color-toggle-selected: (false, sys-color-on-secondary),
        pressed-icon-color: (false, sys-color-on-secondary-container),
        pressed-icon-color-toggle-unselected: (false, sys-color-on-secondary-container),
        pressed-icon-color-toggle-selected: (false, sys-color-on-secondary),
)